.root {
  display: flex;
  justify-content: center;
  li {
    display: inline-block;

    a {
      text-align: center;
      width: 45px;
      line-height: 42px;
      height: 45px;
      border: 1px solid #459440;
      border-radius: 30px;
      margin-right: 10px;
      cursor: pointer;
      display: inline-block;
      color: #459440;

      &:hover {
        background-color: #459440;
        color: #fff;
      }
    }
  }

  :global {
    .selected {
      a {
        background-color: #459440;
        color: #fff;
      }
    }
  }
}
